.card {
  border-radius: 39% 61% 65% 35% / 73% 53% 47% 27%;
  background: rgba(34, 80, 90, 0.25);
  border: none;
}

.spinner {
  width: 10vmin;
  height: 10vmin;
}

.loader {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.finder {
  color: rgb(34, 80, 90);
  font-size: 4vw;
}

/* Doctor's Details Page */

.main-holder {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(90deg, rgba(10, 121, 146, 0.3), rgba(204, 229, 235, 0.6));
}

.d-doctor-image {
  max-width: 25vmin;
  border-radius: 50%;
}

.details-holder {
  height: inherit;
}

.d-doctor-image:hover {
  opacity: 0.7;
}
