.card {
  /* border-radius: 39% 61% 65% 35% / 73% 53% 47% 27%; */

  /* border-radius: 50%; */
  background: rgba(177, 214, 214, 0.25);
  border: none;
  z-index: 5;
}

.img--card {
  margin: 1rem auto;
  border-radius: 50%;
  height: 10rem;
  width: 60%;
}

.spinner {
  width: 10vmin;
  height: 10vmin;
}

.loader {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.finder {
  color: rgb(34, 80, 90);
  font-size: 4vw;
}

/* Doctor's Details Page */
