/* Doctor Page Style */
.page-title {
  color: rgb(222, 227, 231);
  font-weight: 700;
}

.add-doctor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(0deg, rgba(10, 121, 146, 0.6), rgba(10, 121, 146, 0.6));
}

.doctor-bg {
  position: fixed;
  z-index: -2;
  height: 100%;
  min-width: 100vw;
  filter: blur(4px);
  -webkit-filter: blur(5px);
}

.form-title {
  font-weight: 500;
}

.doctor-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.doctor-input {
  border-radius: 15px;
  padding: 8px;
  border: none;
  background: linear-gradient(0deg, rgba(232, 232, 232, 0.6), rgba(60, 150, 172, 0.973));
}

.doctor-input:focus {
  outline: none;
  color: white;
}

.image-span {
  margin-left: 48px;
}

#image-input {
  margin-left: 40px;
}

.image-field {
  margin-left: 7px;
  color: white;
}

.doctor-submit-button {
  margin-top: 1rem;
  background: linear-gradient(90deg, #2fd3f8, #22505a, #1a7ecff6);
  border-radius: 40px;
  border: none;
  font-weight: 800;
  font-size: 2.5vh;
  padding: 2% 5%;
  color: #e9f8fc;
  width: 100%;
  cursor: pointer;
  box-shadow: 10px 8px 8px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
}

.doctor-submit-button:hover {
  opacity: 0.7;
}

.doctor-submit-button:active {
  background: linear-gradient(45deg, #2fd3f8, #22505a, #1a7ecff6);
  opacity: 0.9;
}

::placeholder {
  color: white;
}

/* Appiontment page style */

.add-appiontment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(0deg, rgba(10, 121, 146, 0.6), rgba(10, 121, 146, 0.6));
}

.add-form-container {
  border-radius: 20px;
  overflow: hidden;
  margin: 0.5rem auto;
  width: 500px;
  max-width: 1400px;
  padding: 3rem;
  border: 2px solid #07aad2ef;
}

.reserve-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-group {
  padding: 10px;
}

.appiontment-submit-button {
  margin-top: 1rem;
  background: linear-gradient(90deg, #2fd3f8, #22505a, #1a7ecff6);
  border-radius: 40px;
  border: none;
  font-weight: 800;
  font-size: 3vh;
  padding: 2% 5%;
  color: #e9f8fc;
  width: fit-content;
  cursor: pointer;
  box-shadow: 10px 8px 8px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
}

.appiontment-submit-button:hover {
  opacity: 0.7;
}

.appiontment-submit-button:focus {
  background: linear-gradient(45deg, #2fd3f8, #22505a, #1a7ecff6);
  opacity: 0.9;
}

span {
  color: white;
}

.select {
  width: 265px;
}

.doctor-option {
  color: white;
}

.appoint-input {
  border-radius: 10px;
  padding: 8px;
  border: none;
  background: linear-gradient(0deg, rgba(10, 121, 146, 0.6), rgba(10, 121, 146, 0.6));
}

.appoint-input:focus {
  outline: none;
  color: black;
}
