/* Doctor Page Style */
.page-title {
  color: rgb(222, 227, 231);
  font-weight: 700;
}

.add-doctor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(0deg, rgba(10, 121, 146, 0.6), rgba(10, 121, 146, 0.6));
}

.doctor-bg {
  position: fixed;
  z-index: -2;
  height: 100%;
  min-width: 100vw;
  filter: blur(4px);
  -webkit-filter: blur(5px);
}

.form-title {
  font-weight: 500;
}

.doctor-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.doctor-input {
  border-radius: 15px;
  padding: 8px;
  border: none;
  background: linear-gradient(0deg, rgba(232, 232, 232, 0.6), rgba(60, 150, 172, 0.973));
}

.doctor-input:focus {
  outline: none;
  color: white;
}

.image-span {
  margin-left: 48px;
}

.image-field {
  margin-left: 7px;
  color: white;
}

::placeholder {
  color: white;
}

/* Appiontment page style */

.add-appiontment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(0deg, rgba(10, 121, 146, 0.6), rgba(10, 121, 146, 0.6));
}

.form-title {
  text-align: center;
  font-size: 1rem;
}

button.doctor-submit-button {
  font-size: 1rem;
  width: max-content;
  padding: 5% 15%;
  justify-self: center;
}

.add-form-container {
  border-radius: 20px;
  overflow: hidden;
  margin: 0.5rem auto;
  width: 100%;
  max-width: 1400px;
  padding: 3rem;
  border: 2px solid #07aad2ef;
}

.reserve-form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-align-center {
  text-align: center;
}

.form-group {
  width: 100%;
  padding: 10px;
}

input,
select {
  width: 100%;
}

span {
  color: white;
}

.doctor-option {
  color: white;
}

.appoint-input {
  border-radius: 10px;
  padding: 8px;
  border: none;
  background: linear-gradient(0deg, rgba(10, 121, 146, 0.6), rgba(10, 121, 146, 0.6));
}

.appoint-input:focus {
  outline: none;
  color: black;
}
