/* stylelint-disable media-feature-name-no-unknown */
@import url('https://fonts.googleapis.com/css?family=Play:regular,700');

.main--logo {
  height: 15vmin;
  pointer-events: none;
  margin: 1rem auto;
}

.main--bg {
  position: fixed;
  z-index: -2;
  height: 100%;
  min-width: 100vw;
}

@media ((prefers-reduced-motion: no-preference) and (min-width: 768px)) {
  .main--logo {
    animation: main--logo-spin infinite 20s linear;
  }
}

@keyframes main--logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.main--header {
  font-family: 'Play', sans-serif;
  font-size: 7vw;
  color: #f5f5f5;
}

.landing--page {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(0deg, rgba(10, 121, 146, 0.6), rgba(10, 121, 146, 0.6));
}

.welcome--page {
  margin: auto;
  padding: 9rem 4rem;
  align-items: center;
  width: 100%;
  height: inherit;
}

.welcome--page button,
nav.nav--list button {
  max-width: 30vw;
  padding: 1rem 2rem;
  align-self: center;
}

.main--btn {
  width: auto;
  margin-top: 1rem;
  background: linear-gradient(90deg, #2fd3f8, #4ebbd3);
  border-radius: 40px;
  border: none;
  font-weight: 800;
  font-size: 2vh;
  padding: 2% 15%;
  color: #e9f8fc;
  cursor: pointer;
  box-shadow: 10px 8px 8px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
}

.main--btn:hover {
  opacity: 0.7;
}

.main--btn:active {
  background: linear-gradient(45deg, #6ab7c9, #22505a, #1a7ecff6);
  opacity: 0.9;
}

nav.nav--list {
  display: flex;
  flex-direction: column;
  padding-right: 0.5rem;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.v--header {
  width: 20vw;
  height: 100vh;
  background-color: #6ab7c9;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

.home--splitter {
  left: 20vw;
  position: fixed;
  width: 80vw;
  height: 100vh;
  background-color: #f5f5f5;
  overflow: hidden;
}

.hide--desktop {
  display: none;
}

.nav--link,
.active {
  color: aliceblue;
  font-size: 1.6vw;
  font-weight: 500;
  padding: 0.5rem 1rem;
  width: 100%;
}

.nav--link:hover {
  background-color: #fff;
  color: #22505a;
}

.home--main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80vw;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

.auth--title {
  font-family: 'Play', sans-serif;
  font-size: 4vw;
  font-weight: 700;
  margin-top: -5rem;
  color: #22505a;
}

.home--main--content {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.main--text {
  max-width: 60%;
}

.main--doc--content {
  width: 100%;
  padding: 2rem;
  gap: 1rem;
}

.w--100 {
  width: 100%;
}

.social-m {
  color: #22505a;
}

.social-m:hover {
  color: #062f38;
}

.logout {
  color: #e9f8fc;
  font-size: 1.6vw;
  padding: 3rem 2rem;
  cursor: pointer;
}

.filler {
  align-self: center;
  margin: 0.2rem;
  width: 20%;
  height: 100%;
  border: 2px solid #6ab7c9;
  border-image: linear-gradient(25deg, #6ab7c9 0%, #22505a 75%, #6ab7c9 100%);
  border-image-slice: 1;
  background-color: #f5f5f5;
}

/* MObile screen for Nav elements */
@media only screen and (max-width: 768px) {
  .main--logo {
    max-width: 7vh;
    height: auto;
    pointer-events: none;
    margin: 1rem auto;
  }

  div.home--splitter {
    top: 10vh;
    left: 0;
    width: 100%;
  }

  .v--header {
    position: relative;
    width: 100%;
    height: 10vh;
    flex-direction: row;
    justify-content: space-between;
  }

  nav.hide--mobile,
  .hide--mobile {
    display: none;
  }

  .home--main {
    width: 100vw;
    padding: 0 1.5rem 2.5rem 1.5rem;
  }

  div.card {
    width: 5rem;
  }

  .main--text {
    font-size: 0.7rem;
  }

  /*
  .home--main--content {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  .main--text {
    max-width: 100%;
  }

  .main--btn {
    width: 50%;
    margin: 0 auto;
  }

  .main--doc--content {
    width: 100%;
    padding: 0;
  }

  .filler {
    display: none;
  }

  .hide--mobile {
    display: none;
  }

  .hide--desktop {
    display: block;
  }

  .nav--link,
  .active {
    font-size: 4vw;
    padding: 0.5rem 0;
  }

  .auth--title {
    font-size: 6vw;
  }

  .logout {
    font-size: 4vw;
    padding: 1rem 0;
  } */
}
