.app {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .app {
    flex-direction: column;
  }
}
